{% extends "Users/layout.html" %}
<html>
{% load static %}
{% block body %}

    <h1>Welcome, {{ request.user.username }}  </h1>

    <ul>
        <li>Username: {{ request.user.first_name }} {{request.user.last_name}}</li>

        
        <h3>Registered Subjects</h3>
        
            {% for x in subject  %}
                <li>{{ x }}</li>
            {% endfor %}
        
    </ul>
       
    <ul>
        <p><a href="{% url 'Register:index' %}">Enrollment</a></p>
        <p><a href="{% url 'Users:logout' %}">Log out</a></p>
    </ul>
{% endblock %}
</html>