  
{% extends "registers/layout.html" %}

{% block body %}
    <h1>Course: {{ Course.course_code }}</h1>

    <ul>
        <li>Course : {{ Course.course_code }} {{ Course.course_name }}</li>
        <li>max : {{ Course.max_student }} seats</li>
        <li>status : {{ Course.status }}</li>
    </ul>

    <h2>Registered</h2>
    <ul>
        {% for student in Users %}
        <li>{{student.first_name}} {{student.last_name}}</li>
        {% empty %}
        <li>No student</li>
        {% endfor %}
    </ul>

    <a href="{% url 'Register:apply' Course.course_code %}">Register Now</a>

    <br><br>
    <p><a href= "{% url 'Register:index'%}"> Course_list </a> </p>

    
{% endblock %}