  
{% extends "registers/layout.html" %}

{% block body %}
    <h1>Course: {{ Course.course_code }}</h1>

    <ul>
        <li>Course : {{ Course.course_code }} {{ Course.course_name }}</li>
        <li>max : {{ Course.limit_seat }} seats</li>
        <li>status : {{ Course.status }}</li>
        <li>{{Course.siting}}</li>
    </ul>
    
    <h2>student</h2>
    <ul>
        {% for y in student %}
        <li>{{ y.username }}</li>
        {% empty %}
        <li>No passengers</li>
        {% endfor %}
    </ul>


    <p><a href="{% url 'Register:apply' Course.course_code %}">Apply course</a></h3>
    <p><a href="{% url 'Register:remove' Course.course_code %}">remove course</a></h3>   


    <br><br>
    <p><a href= "{% url 'Register:index'%}"> Course_list </a> </p>

    
{% endblock %}