  
{% extends "registers/layout.html" %}

{% block body %}
    <h1>Course: {{ Course.course_code }}</h1>

    <ul>
        <li>Course : {{ Course.course_code }} {{ Course.course_name }}</li>
        <li>{{Course.status}}</li>
        <li>status: {{seat}}/{{Course.limit_seat}} seat</li>
    </ul>
    
    <h2>student</h2>
    <ul>
        {% for y in student %}
        <li>{{ y.username }}</li>
        {% empty %}
        <li>No passengers</li>
        {% endfor %}
    </ul>

    {% if request.user not in student %}
        {% if Course.status and seat < Course.limit_seat %}
        <p><a href="{% url 'Register:apply' Course.course_code %}"  class="btn btn-outline-success">Apply course</a></h3>
        {% else %}
        <p><h1 class="btn-outline-danger"></a></h3>
        {% endif %}
    {% else %}
    <h3>Already Register</h3>
    {% endif %}
    
    
    
        <p><a href="{% url 'Register:remove' Course.course_code %}">Remove course</a></h3>   


    <br><br>
    <p><a href= "{% url 'Register:index'%}"> select course </a> </p>
    <p><a href= "{% url 'Users:studentinfo'%}"> return to profile </a> </p>

    
{% endblock %}